streamlit>=1.32.0
crewai==0.105.0
crewai-tools==0.40.1
chromadb>=0.5.23
openai>=1.12.0
textblob>=0.17.1
python-dotenv>=1.0.0
instructor==1.7.9
tenacity>=9.0.0,<10.0.0
pysqlite3-binary
langchain_community>=0.2.0